* {
	transition: 75ms;
}

html, body
{
   height: 100%;
   width: 100%;
	
}

/*CSS top responsive navbar*/
.navbar-inverse {
    background-color: #172531 !important;
    border-color: #526575!important;
    padding: 0%  0% 0% 0%;
    font-size: 1em ;
    font-weight: bold;
    
}

.dropdown-menu {
    background-color: #273f54 !important;

 }
.dropdown-menu a{

    color: white !important;
    font-size: 1.1em;
    font-family: 'Roboto', serif;
    margin: 10px 0;
    
 }

.dropdown-menu a:hover {
    color: white !important;

 }


.navbar-brand img
{
    height: 36px;
    padding: 0 0 15px;

}


.navbar-inverse .navbar-nav li a {
   color: white;

}

.navbar-inverse .navbar-nav li a.active {
   
   color: white;

}

.navbar-inverse .navbar-nav li a:hover  {
   color: white !important;
   background-color: #111 !important;

}
/*end of CSS top responsive navbar*/


#home
  {
     background: linear-gradient(to top, #172530, #172533) no-repeat center center fixed;
     display: table;
     height: 100%;
     width: 100%;
     position: relative;
     background-size: cover;
}

.content{
  background-color: #172531;
  padding: 25px;

}

.content .paper {
  background-color: #223647;
  padding: 60px;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.5);, 0 4px 8px 0 rgba(0,0,0, 0.5);;
  width: 85vw;
  margin-bottom: 20px;
}

.content .paper:hover {
  background-color: #223647;
  opacity: 0.9;
  padding: 60px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.5);, 0 5px 10px 0 rgba(0,0,0, 0.5);;
}

  
/* CSS buttons effects */ 

.box-1 img {
   width: 33.5vw;
   height: auto;
   opacity: 0.7;

}

.btn-b1 {
   position: relative;
   left: 7.5vw;	
}

.box-11 img {
   width: 32.5vw;
   height: auto;
   opacity: 0.7;

}

.btn-b11 {
   position: relative;
   left: 9.5vw;	
}

.box-12 img {
   width: 31vw;
   height: auto;
   opacity: 0.7;

}

.btn-b12 {
   position: relative;
   left: 11.5vw;	
}

.box-13 img {
   width: 29.3vw;
   height: auto;
   opacity: 0.7;

}

.btn-b11 {
   position: relative;
   left: 13.5vw;	
}

.box-2 img {
   width: 40vw;
   height: auto;
   opacity: 0.75;
   border: 2px solid white;
   border-radius: 60px;
   
   
}
/*enf of CSS buttons effects */ 


/* CSS button shadows */
.img-shift-left {
   box-shadow: -6px 6px #111;
}

.img-shift-left:hover {
   box-shadow: -9px 9px #000;
}


.img-shift-right {
   box-shadow: 6px 6px #111;
}

.img-shift-right:hover {
   box-shadow: 9px 9px #000;
}

.img-shift-mid {
   box-shadow: 8px 8px #111;
}

.img-shift-mid:hover  {
   box-shadow: 10px 10px #111;
}
/*end of css buttons shadows*/

/* css modal body */
.modal-body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-bottom: 2px solid black; 
   border-top: 2px solid black;
   background: #303030;
}

.modal-body img {
   height: 75px;
   width: auto;   
}

.modal-body a {
   box-shadow: 5px 5px #111;
}

.modal-body a:hover {
   transform: translateY(3px);
   box-shadow: 9px 9px #000;

}
/*end of css modal body */


/* css modified scroll */
::-webkit-scrollbar
{
   width: 10;
   background-color: #1f3241;
}

::-webkit-scrollbar-thumb
{
   border-radius: 20px;
   background: linear-gradient(to right, #060a0e, #0f181f);
}

::-webkit-scrollbar-track
{
   border-radius: 1px;
   background-color: #1f3241;
}
/*end of css modified scroll */


@media (max-width: 1200px) {

.content .paper {
  padding: 50px;
}
.content .paper:hover {
  padding: 50px;

}

.box-1 img {
   width: 32vw;
   height: auto;

}

.box-11 img {
   width: 31vw;
   height: auto;

}
.box-12 img {
   width: 30vw;
   height: auto;

}
.box-13 img {
   width: 29vw;
   height: auto;

}

.box-2 img {
   width: 38vw;
   height: auto;

}


}

@media (max-width: 928px) {

.content .paper {
  padding: 45px;
}
.content .paper:hover {
  padding: 45px;

}

.box-1 img {
   width: 31.6vw;
   height: auto;

}

.box-11 img {
   width: 30.6vw;
   height: auto;

}
.box-12 img {
   width: 29.6vw;
   height: auto;

}
.box-13 img {
   width: 28.6vw;
   height: auto;

}


}

@media (max-width: 838px) {

.content .paper {
  padding: 40px;
}
.content .paper:hover {
  padding: 40px;

}

.box-1 img {
   width: 30.8vw;
   height: auto;

}

.box-11 img {
   width: 29.8vw;
   height: auto;

}
.box-12 img {
   width: 28.8vw;
   height: auto;

}
.box-13 img {
   width: 27.8vw;
   height: auto;

}


.img-shift-left {
   box-shadow: -5px 5px #111;
}

.img-shift-left:hover {
   box-shadow: -8px 8px #000;
}


.img-shift-right {
   box-shadow: 5px 5px #111;
}

.img-shift-right:hover {
   box-shadow: 8px 8px #000;
}

.img-shift-mid {
   box-shadow: 6px 6px #111;
}

.img-shift-mid:hover  {
   box-shadow: 9px 9px #111;
}

}


@media (max-width: 638px) {

.content .paper {
  padding: 35px;
  width: 66vw;
}
.content .paper:hover {
  padding: 35px;

}

.box-1 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  font-size: 30px;

}

.box-1 img {
  width: 45vw;
  height: auto;	

}

.btn-b1 {
   position: relative;
   left: 0vw;
   top: 22px;
   margin-bottom: 20px;	
}
	
.box-11 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 25px;
  font-size: 30px;

}

.box-11 img {
   width: 38vw;
   height: auto;
}

.btn-a11 {
   position: relative;
   left: 2.2vw;
}

.btn-b11 {
   position: relative;
   left: 2.2vw;
   top: 22px;
   margin-bottom: 20px;	
}

.box-12 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 25px;
  font-size: 30px;

}

.box-12 img {
   width: 34vw;
   height: auto;
}

.btn-a12 {
   position: relative;
   left: 3.2vw;
}

.btn-b12 {
   position: relative;
   left: 3.2vw;
   top: 22px;
   margin-bottom: 20px;	
}


.box-13 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 25px;
  font-size: 30px;

}

.box-13 img {
   width: 30vw;
   height: auto;
}

.btn-a13 {
   position: relative;
   left: 4.2vw;
}

.btn-b13 {
   position: relative;
   left: 4.2vw;
   top: 22px;
   margin-bottom: 20px;	
}



.img-shift-left {
   box-shadow: -4px 4px #111;
}

.img-shift-left:hover {
   box-shadow: -7px 7px #000;
}


.img-shift-right {
   box-shadow: 4px 4px #111;
}

.img-shift-right:hover {
   box-shadow: 7px 7px #000;
}

.img-shift-mid {
   box-shadow: 5px 5px #111;
}

.img-shift-mid:hover  {
   box-shadow: 8px 8px #111;
}

}

@media (max-width: 524px) {

.content .paper {
  padding: 30px;
}
.content .paper:hover {
  padding: 30px;
}

.box-1 img {
   width: 28vw;
   height: auto;

}

.box-11 img {
   width: 27vw;
   height: auto;

}
.box-12 img {
   width: 26vw;
   height: auto;

}
.box-13 img {
   width: 25vw;
   height: auto;

}


.img-shift-left {
   box-shadow: -3px 3px #111;
}

.img-shift-left:hover {
   box-shadow: -5px 5px #000;
}


.img-shift-right {
   box-shadow: 3px 3px #111;
}

.img-shift-right:hover {
   box-shadow: 5px 5px #000;
}

.img-shift-mid {
   box-shadow: 4px 4px #111;
}

.img-shift-mid:hover  {
   box-shadow: 7px 7px #111;
}

}

@media (max-width: 448px) {
 	
.content .paper {
  padding: 25px;
}
.content .paper:hover {
  padding: 25px;
}



}

@media (max-width: 398px) {

.content .paper {
  padding: 22px;
}
.content .paper:hover {
  padding: 22px;
}

}

@media (max-width: 348px) {

.content .paper {
  padding: 20px;
}
.content .paper:hover {
  padding: 20px;
}


}
